<div class="ticker">
    <h2>Player Game Logs</h2>
    <div id="gameLogTicker">
        <!-- JS will populate this -->
    </div>
</div>

<div class="search-container">
    <input type="text" id="playerSearch" autocomplete="off">
    <ul id="suggestions"></ul>
</div>

{{{table}}}
<script src="/public/js/ui.js"></script>
<script>
    const ui = new UI();
</script>