<div class="container">
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs" id="matchupTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="overall-stats-tab" data-bs-toggle="tab" href="#overall-stats" role="tab"
                aria-controls="overall-stats" aria-selected="true">Overall Stats</a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="matchupTabsContent">
        <!-- QB Matchup Data Tab Content -->
        <div class="tab-pane fade show active" id="overall-stats" role="tabpanel" aria-labelledby="overall-stats-tab">
            <div id="overall-stats-data-table-div">
                {{{ overallStatsTable }}}
            </div>
        </div>
    </div>
</div>
<script src="/public/js/ui.js"></script>
<script>
    const allPlayers = {{{ json players }}};
    const ui = new UI(allPlayers);
    ui.addAllEventListeners();
</script>
<script>
    $(document).ready(function () {
        $('#overall-stats-data-table').DataTable();
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
    });

</script>