body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    padding: 1em;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.ticker {
    background-color: #FF4136;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

.search-container {
    margin: 20px;
    text-align: center;
}

#playerTable {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

#playerTable th, #playerTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

.search-container {
    position: relative;
  }
  
  #suggestions {
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
  }
  
  #suggestions li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #suggestions li:hover {
    background-color: #f0f0f0;
  }